@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

$primary: rgba(15, 14, 14, 1);
$secondary: rgba(255, 255, 255, 1);
$third: rgba(169,169,169, 1);

* {
    margin: 0;
    font-family: 'Golos Text', sans-serif;
}
html, body {
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header__nav {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary;
    box-shadow: 0 4px 8px -3px gray;

    .nav__logo {
        color: $primary;
        font-size: 1.7rem;
    }
    .nav__buttons {
        display: flex;
        gap: .5rem;

        .nav__button {
            width: fit-content;
            box-sizing: border-box;
            padding: .5rem 1.3rem;
            border: 1px solid $primary;
            border-radius: 4px;
            color: $primary;
            background-color: $secondary;
        }
    }
}
.header__hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/src/images/hero-background-phone.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -2;

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 70%;
        text-align: center;
        z-index: 2;
    }
    .hero__title {
        font-size: 1.7rem;
        color: $secondary;
    }
    .hero__button {
        width: fit-content;
        box-sizing: border-box;
        padding: .5rem 1.3rem;
        border: 1px solid $primary;
        border-radius: 4px;
        color: $primary;
        background-color: $secondary;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.main__features {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.2rem;
}
.features__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .features__title {
        font-size: 1.5rem;
    }
    .features__description {
        font-size: 1.2rem;
    }
}
.features__cards {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $third;

    .card__image {
        width: 100%;
    }
    .card__info {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        padding: 1.2rem 2rem;
    }
}

.main__programs {
    width: 90%;
    height: 100vh;
}
.programs__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .programs__info {
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
    }
    .program {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        border: 1px solid $third;
        padding: 1rem;

        .programs__title {
            font-size: 1.5rem;
        }
    }
}